.heroes{
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 16em;
}

.heroes li{
  display: flex;
 }

 .heroes button{
  flex: 1;
  display: flex;
  position: relative;
  padding: 0;
  left: 0.1em;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  margin: .5em;
  border-radius: 4px;
  align-items: stretch;
  height: 1.8em;

 }

 .heroes button:hover{
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 1em;
 }

 .heroes button:active{
  background-color: #505050;
  color: #FFFF;
 }

 .heroes button.selected{
  background-color: #000F;
  color:#FFF;
  left: 1em;
 }

 .heroes button.selected:hover {
  background-color: #505050;
  color: white;
 }

 .heroes .badge{
  display: inline;
  font-size: small;
  color: white;
  padding: .4em .8em;
  background-color: #405061;
  line-height: 1;
  margin-right: 1em;
  align-self: center;
 }

 .heroes .name{
  align-self: center;
 }


